body {
  min-width: 800px;
}
header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.login-image {
  height: 22px;
  width: 22px;
  padding-right: 5px;
}
button {
  padding: 0;
  border: none;
  background: none;
  height: 30px;
}
.navbar-header {
  background-color: white;
}
.nav-bar-button {
  margin-top: -5px;
  margin-right: 10px;
  margin-left: 50px;
  font-family: arial, sans-serif;
  font-size: 20px;
  opacity: 0.7;
}
.search-input {
  height: 30px;
  width: 50vw;
  min-width: 350px;
}
.search-button {
  border: 1px solid black;
  height: 36px;
  padding: 10px 10px;
}
.sign-in-button {
  display: inline-flex;
  border: 1px solid blue;
  align-items: center;
  color: blue;
  padding: 0 10px;
}
.floatleft {
  vertical-align: middle;
}
.floatright {
  vertical-align: middle;
}
.button-image {
  height: 22px;
  width: auto;
}
.youtube-logo-image {
  height: 30px;
  width: auto;
}
.left-menu {
  display: flex;
  float: left;
  align-items: center;
}
.right-menu {
  display: flex;
  float: right;
  align-items: center;
}
.center-menu {
  height: 40px;
  display: flex;
  float: left;
  align-items: center;
}
.apps-icon {
  height: 22px;
}
.settings-icon {
  height: 22px;
}
#void-heading {
  display: none;
}
#video_wrapper {
  grid-column: 1 / span 2;
  position: relative;
  padding-bottom: 56.25%;
}
iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
main {
  border-top: 15px solid rgb(236, 236, 236);
	border-bottom: 5px solid rgb(236, 236, 236);
	margin-top: 40px;
  display: grid;
  grid-template-columns: 2fr min-content;
  grid-gap: 15px;
  margin-left: -10px;
  margin-right: -10px;
  font-family: arial;
}
.left-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content 100px 60px 30px 200px 40px 100px 1fr;
  grid-column-start: 0;
  grid-column-end: 1;
  border-right: 10px solid rgb(236, 236, 236);
}
.text-image-container {
  display: flex;
  align-items: center;
}
#video-iframe {
  width: 100%;
  height: 100%;
  grid-column: 1 / span 2;
}
.video-title {
  margin-top: 20px;
  font-size: 25px;
  grid-column: 1 / span 2;
  border-top: 13px solid rgb(236, 236, 236);
	font-family: arial;
  color: black;
  opacity: 0.9;
  padding-top: 10px;
  padding-left: 15px;
}
.profile-icon-section {
  display: grid;
  grid-column: 1 / span2;
  grid-gap: 5px;
  grid-template-columns: min-content 3fr auto;
  padding-top: 5px;
  padding-left: 15px;
}
.icon-element {
  place-self: center;
}
.views-element {
  margin-top: 30px;
  place-self: center;
  font-size: 20px;
  color: gray;
  font-family: arial;
}
.username {
  margin-bottom: 5px;
  font-size: 15px;
  font-family: arial;
  color: black;
}
#youtube-subscribe-img {
  width: auto;
  height: 25px;
  margin: 0;
}
.viewers {
  display: flex;
  border: 1px solid rgb(236, 236, 236);
	height: 22px;
  font-size: 10px;
  font-family: arial;
  color: gray;
  margin-left: -1px;
  align-items: center;
  padding-right: 8px;
  padding-left: 8px;
}
.username-subscribe-button {
  align-self: center;
}
#profile-icon-image {
  height: 48px;
  width: 48px;
}
.thumbs-up-section {
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column: 1 / span2;
  display: flex;
  justify-content: space-between;
  padding-right: 5px;
  font-size: 12px;
  color: gray;
  font-family: arial;
  padding-top: 2px;
  padding-left: 10px;
}
.thumbs-up-section img {
  padding-left: 5px;
  padding-right: 4px;
  width: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#left-side-thumbs-up-section {
  display: flex;
  justify-content: center;
}
#left-side-thumbs-up-section img {
  opacity: 0.35;
}
#right-side-thumbs-up-section {
  display: flex;
  justify-content: center;
}
#dislike-icon-image {
  opacity: 0.35;
}
.txt {
  transform: translateY(8px);
}
.show-more-section-container {
  grid-column-start: 5;
  padding: 0 10px;
  border-top: 8px solid rgb(236, 236, 236);
  grid-column: 1 / span 2;
}
.comments-section {
  grid-column: 1/span 2;
  grid-row-start: 7;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.6;
}
#white-space {
  grid-column: 1/span 2;
  grid-row-start: 8;
  background-color: rgb(236, 236, 236);
}
#description-text {
  font-family: arial;
  font-size: 13px;
  color: gray;
}
#show-more-section {
  text-align: center;
  text-transform: uppercase;
  opacity: 0.6;
  margin-top: 24px;
  border-bottom: 8px solid rgb(236, 236, 236);
}
#show-more-section p {
  font-family: arial;
  color: gray;
  font-weight: bold;
  font-size: 11px;
}
aside {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-template-rows: 35px repeat(9, 94fr);
  grid-gap: 10px;
  margin-left: 20px;
  min-width: 350px;
}
aside div {
  display: flex;
}
#autoplay-button-section {
  display: flex;
  justify-content: space-between;
  font-family: arial;
  align-items: center;
}
#information-icon-image {
  height: 15px;
  transform: translateY(2px);
}
#toggle-icon-image {
  width: 35px;
  height: 20px;
}
.thumbnail-views-title-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 94px;
}
.title-thumbnail-views {
  display: block;
  padding-left: 8px;
}
.thumbnail-video-title {
  font-size: 13px;
  font-weight: bold;
  color: black;
  opacity: 0.9;
}
.thumbnail-video-username {
  font-size: 12px;
  color: black;
  opacity: 0.6;
}
.thumbnail-video-views {
  font-size: 12px;
  color: black;
  opacity: 0.6;
}
footer button {
  padding: 0 10px;
  -moz-box-shadow: 0px 0px 2px #000;
  -webkit-box-shadow: 0px 0px 2px #000;
  box-shadow: 0px 0px 2px #000;
  margin-left: 5px;
}
.footer-container {
  padding-left: 30px;
  white-space: nowrap;
}
#footer-hr {
  margin-left: 0;
  width: 70%;
}
.buttons-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 500px;
}
.information-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 800px;
}
.information-section a {
  color: black;
  text-decoration: none;
  font-family: arial;
  font-size: 13px;
}
.legal-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 900px;
  height: 40px;
}
.legal-section a {
  color: black;
  text-decoration: none;
  font-family: arial;
  font-size: 12px;
  opacity: 0.8;
}
