header{
    display: flex;
    justify-content: space-between;
}

header{
  width: 100%;
}
.login-image{
    height:22px;
    width: 22px;
    padding-right: 5px;
}

button{
    padding: 0;
    border: none;
    background: none;
    height: 30px;
}
.nav-bar-button{

    margin-right: 50px;
}
.search-input{
    height: 30px;
    width: 50vw;
}
.search-button{
    border: 1px solid black;
    height: 36px;
    padding: 10px 10px;
}

.upload-button{

}
.sign-in-button{
    display: inline-flex;
    
    border: 1px solid blue;
    align-items: center; 
    color: blue;
    padding: 0px 10px;

}

div {
  border: 0px solid black;
}

.floatleft {
    /* float:left; */
    vertical-align: middle;
}

.search-input {

}

.floatright {
    /* float:right; */
   vertical-align: middle;
}

.button-image{
  height: 22px;
  width: auto;
}

.youtube-logo-image{
  height: 30px;
  width: auto;
}

.left-menu{
    display: flex;
    float: left;
/*    justify-content: center; */
    align-items: center;
}
.right-menu{
    display: flex;
    float: right;
    align-items: center;
}
.center-menu{
    height: 40px;
    display: flex;
    float: left;
    align-items: center;
}
.apps-icon{
    height: 22px;
}
.settings-icon{
    height: 22px;
}