header{
    display: flex;
    justify-content: space-between;
}

header{
  width: 100%;
}
.login-image{
    height:22px;
    width: 22px;
    padding-right: 5px;
}

button{
    padding: 0;
    border: none;
    background: none;
    height: 30px;
}
.nav-bar-button{

    margin-right: 50px;
}
.search-input{
    height: 30px;
    width: 50vw;
    min-width: 350px;
}
.search-button{
    border: 1px solid black;
    height: 36px;
    padding: 10px 10px;
}

.upload-button{

}
.sign-in-button{
    display: inline-flex;
    border: 1px solid blue;
    align-items: center;
    color: blue;
    padding: 0px 10px;

}



.floatleft {
    vertical-align: middle;
}

.search-input {

}

.floatright {
   vertical-align: middle;
}

.button-image{
  height: 22px;
  width: auto;
}

.youtube-logo-image{
  height: 30px;
  width: auto;
}

.left-menu{
    display: flex;
    float: left;
    align-items: center;
}
.right-menu{
    display: flex;
    float: right;
    align-items: center;
}
.center-menu{
    height: 40px;
    display: flex;
    float: left;
    align-items: center;
}
.apps-icon{
    height: 22px;
}
.settings-icon{
    height: 22px;
}

main{
    margin-top: 40px;
    border: 5px solid black;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 15px;
    margin-left: 50px;
    margin-right: 50px;
}

.left-section{
    grid-column-start: 0;
    grid-column-end: 1;

}
aside{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-template-rows: repeat(19,1fr);
    grid-gap: 10px;
}
aside div{
    display: flex;
    

}


.left-section {
  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 315px 100px 100px;
}
.videoplayer{
    /* spanning the video player over two columns */
    grid-column: 1 / span 2;

}
.video-title{
    margin-top: 20px;
    font-size: 25px;
    grid-column:1 / span 2;
}
.profile-icon-section{
    display: grid;
    grid-column: 1 / span2;
    grid-template-columns: 1fr 1fr 1fr;
}
#youtube-subscribe-img{
    width: 150px;
    margin: 0px;
    
    
    
}

.username-subscribe-button{
  align-items: center;      /* new */
  justify-items: center;    /* new */
 
}

#profile-icon-image{
    
    
}

body{
    min-width: 800px;
}
#autoplay-button-section{
    display: flex;
    justify-content: space-between;
}
#toggle-icon-image{
    width: 35px;
    height: 20px;
}