header{
    display: flex;
    justify-content: space-between;
}

header{
  width: 100%;
}


button{
    height: 30px;

}
.nav-bar-button{

    margin-right: 50px;
}
.search-input{
    height: 30px;
    width: 30%;

}
.search-button{
    margin-left: -5px;
}
.upload-button{

}
.sign-in-button{
/*    text-align: right; */
/*    margin-right: 0px; */
}

div {
  border: 1px solid black;
}

.floatleft {
    /* float:left; */ 
    vertical-align: middle; 
}

.search-input {
    
}

.floatright {
    /* float:right; */
   vertical-align: middle; 
}



.left-menu{
    display: flex;
    float: left;
    
}
.right-menu{
    display: flex;
    float: right;
}
.center-menu{
    height: 100px;
    display: flex;
    float: left;
}